---
openapi: "3.0.0"
info:
  title: "Swagger Orange Juice"
  version: "1.0.0"
  description: "This is a APIs of Orange-Juice e-learning server."
servers:
  - url: https://orange-juice.edu.com/v1/
    description: Optional server development description
tags:
  - name: "USER"
  - name: "COURSE"
  - name: "QUIZ"
paths:
  /users:
    get:
      tags:
        - "USER"
      summary: "Get user's information"
      responses:
        200:
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/definitions/User"
        400:
          description: "Bad request"
        404:
          description: "Not found"
      security:
        - basic-auth: []
    put:
      tags:
        - "USER"
      summary: "Update user"
      description: "This can only be done by the logged in user."
      operationId: "updateUser"
      parameters:
        - in: "path"
          name: "username"
          schema: 
            type: "string"
          description: "name that need to be updated"
          required: true
      requestBody: 
        content: 
          application/json:
            schema:
              $ref: "#/definitions/User"
        description: "Updated user object"
        required: true
      responses:
        400:
          description: "Invalid user supplied"
        404:
          description: "User not found"
      security:
        - basic-auth:
            - "write:user"
            - "read:user"
    delete:
      tags:
        - "USER"
      summary: "Delete user"
      description: "This can only be done by the logged in user."
      operationId: "deleteUser"
      parameters:
        - in: "path"
          name: "username"
          schema: 
            type: "string"
          description: "The name that needs to be deleted"
          required: true
      responses:
        400:
          description: "Invalid username supplied"
        404:
          description: "User not found"
      security:
        - basic-auth:
            - "write:user"
            - "read:user"
    post:
      tags:
        - "USER"
      summary: "Create user"
      description: "This can only be done by the logged in user."
      operationId: "createUser"
      requestBody: 
        content:
          application/json:
            schema:
              $ref: "#/definitions/User"

        description: "Created user"
        required: true
      responses:
        default:
          description: "successful operation"
  /users/login:
    post:
      tags:
        - "USER"
      summary: "Logs user into the system"
      description: ""
      operationId: "loginUser"
      requestBody: 
        content:
          application/json:
            schema:
              $ref: "#/definitions/LoginRequest"

        description: "Login user input"
        required: true
      responses:
        200:
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        400:
          description: "Invalid username/password supplied"
  /users/logout:
    post:
      tags:
        - "USER"
      summary: "Logs out current logged in user session"
      description: ""
      operationId: "logoutUser"
      parameters: []
      responses:
        default:
          description: "successful operation"
      deprecated: true
  /courses:
    get:
      tags:
      - "COURSE"
      parameters:
        - $ref: '#parameters/limit'
        - $ref: '#parameters/offset'
      responses:
        200:
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoursesDashboard"
        400:
          description: "Bad request"
        404:
          description: "Courses not found"
components:
  schemas:
    ApiResponse:
      type: "object"
      properties:
        code:
          type: "integer"
          format: "int32"
        type:
          type: "string"
        message:
          type: "string"
    User:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        username:
          type: "string"
        name:
          type: "string"
        email:
          type: "string"
        password:
          type: "string"
        phone:
          type: "string"
        avatarUrl:
          type: "string"
          description: "example: https://orange-juice.com/uploads/2017/06/gg-1.jpg"
        gender:
          type: "string"
        userRole:
          type: "integer"
          format: "int32"
          description: "Admin - Parent - Children"
      xml:
        name: "User"
    Course:
      type: "object"
      properties:
        name:
          type: "string"
        duration:
          type: "string"
        members:
          type: "integer"
          format: "int32"
        authors:
          type: "string"
        courseImageUrl:
          type: "string"
    CoursesDashboard:
      allOf:
        - $ref: '#/definitions/Course'
        - type: object
          properties:
            userCourseStatus:
              type: "string"
              enum: [NOT_REGISTER, PENDING]
              description: >
                Explanations: <br>
                * `NOT_REGISTER` - user not register this course yet. <br>
                * `PENDING` - user is waiting for approval to join this course.
    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          example: "example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwidXNlcm5hbWUiOiJqb2huMDkwOSIsImlhdCI6MTUxNjIzOTAyMn0.aj5KcumubmGe3Twtm7vLWbe7Ljt806Hj_OmqVsbjGVU'
          Please decode for more information: using https://jwt.io/"
    LoginRequest:
      type: object
      properties:
        username:
          type: string
        password:
          type: string

  parameters:
    offset:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
      description: The number of items to skip before starting to collect the result set.
    limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 5
      description: The numbers of items to return.

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
security:
  - bearerAuth: []
externalDocs:
  description: "More details"
  url: "http://swagger.io"
